.about {
  margin-top: 3%;
}

.about_container {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.about_img {
  width: 200px;
  border-radius: 0.5rem;
  justify-self: center;
  align-items: center;
}

.about_description {
  margin-bottom: 2.5rem;
  text-align: initial;
}

.about_button .button_icon {
  transform: translate(0.25rem);
}
