/* HOME */

.home_container {
  row-gap: 5rem;
  gap: 1rem;
}

.home_content {
  grid-template-columns: max-content 1fr 1fr;
  padding-top: 3.5rem;
  column-gap: 2rem;
  align-items: center;
}

.home_social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
  transform: translateX(-6rem);
}

.home_social-icon {
  font-size: 2.5rem;
  color: #607adb;
  width: 50px;
}

.home_social-icon:hover {
  color: #a3b1ee;
}

.home_img {
  width: 220px;
  border-radius: 50%;
}

.home_img:hover {
  transform: scaleX(-1);
}

.home_social {
  transform: translateX(-6rem);
}

.home_data {
  grid-column: initial;
}

.home_img {
  order: 1;
  justify-self: center;
}

.home_title {
  font-size: 2rem;
}

.home_subtitle {
  font-size: 24px;
  color: #607adb;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.home_description {
  margin-bottom: 2rem;
}

.home_scroll {
  display: none;
}

.button {
  display: inline-block;
  background-color: #607adb;
  color: #2f323b;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
}

.button:hover {
  background-color: #a3b1ee;
}

.button_icon {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  transition: 0.3s;
}

.button-flex {
  display: inline-flex;
  align-items: center;
  transition: 0.3s;
}

.home_button {
  font-size: 20px;
}
